@{
    ViewData["Title"] = "MainPageTest";
}
<br />
<center>
    <div class="btn-group-vertical">
        <a asp-action="" asp-controller="" class="btn btn-sm btn-success disabled">
            <text style="font-size:xx-large">MENU</text>
        </a>
        <a asp-action="INDEX" asp-controller="PRODUCT" class="btn btn-sm btn-success">
            DODAJ / USUŃ PRODUKT
        </a>
        <a asp-action="RaportZDnia" asp-controller="PRODUCT" class="btn btn-sm btn-success">
            PODGLĄ PRODUKTÓW
        </a>
        <a asp-action="NEWRAPORT" asp-controller="RAPORT" class="btn btn-sm btn-success disabled">
            RAPORT PRODUKTÓW W DANYM ...
        </a>
        <a asp-action="MANAGE" asp-controller="FAKTURA" class="btn btn-sm btn-success disabled">
            FAKTURA
        </a>
        <a asp-action="MANAGE" asp-controller="NOTIFICATIONS" class="btn btn-sm btn-success disabled">
            PRZYPOMNIENIE O DOSTAWACH
        </a>
        <a asp-action="NewClient" asp-controller="Client" class="btn btn-sm btn-success">
            Dodaj nowego kontrachenta
        </a>
    </div>
</center>