@{
    ViewData["Title"] = "MainPageTest";
}
<br />
<center>
    <div class="btn-group-vertical">
        <a asp-action="" asp-controller="" class="btn btn-sm btn-success disabled">
            <text style="font-size:xx-large">MENU</text>
        </a>
        <a asp-action="INDEX" asp-controller="PRODUCT" class="btn btn-sm btn-success">
            DODAJ / USUŃ PRODUKT
        </a>
        <a asp-action="Podglad" asp-controller="PRODUCT" class="btn btn-sm btn-success">
            PODGLĄD PRODUKTÓW
        </a>
        <a asp-action="RaportZDnia" asp-controller="Product" class="btn btn-sm btn-success">
            RAPORT PRODUKTÓW W DANYM RZEDZIALE CZASOWYM
        </a>
        <a asp-action="Index" asp-controller="FAKTURA" class="btn btn-sm btn-success">
            FAKTURA
        </a>
        <a asp-action="Index" asp-controller="Kalendarz" class="btn btn-sm btn-success">
            PRZYPOMNIENIE O DOSTAWACH
        </a>
        <a asp-action="NewClient" asp-controller="Client" class="btn btn-sm btn-success">
            Dodaj nowego kontrachenta
        </a>
        <a asp-action="Index" asp-controller="Zamowienie" class="btn btn-sm btn-default">
            Lista zamównien [W.I.P]
        </a>
    </div>
</center>