@model WarehouseWebApp.Models.Products

@{
    ViewData["Title"] = "Index";
}

<center><h2>Lista Produktów</h2></center>

<form method="post">
    <div class="form-row">

        <div class="form-group col-md-3">
            <label asp-for="SerialNumber" class="control-label"></label>
            <input asp-for="SerialNumber" class="form-control" />
            <span asp-validation-for="SerialNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Count" class="control-label"></label>
            <input asp-for="Count" class="form-control" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="VAT" class="control-label"></label>
            <input asp-for="VAT" class="form-control" />
            <span asp-validation-for="VAT" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="IsActive" class="control-label"></label>
            <input asp-for="IsActive" class="form-control" />
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>
    </div>
    <center>
        <button type="submit" class="btn btn-success" asp-action="Create">Create</button>
        <button type="submit" class="btn btn-info" asp-action="Sumuj">Sumuj Aktywne</button>
    </center>
</form>



@await Component.InvokeAsync("Produkty")

<br />
<br />
<form method="post">
    <div class="form-group col-md-10">
        <input name="serial" class="form-control" placeholder="Wprowadź numer seryjny produktu" />
        <span asp-validation-for="SerialNumber" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success col-md-2" asp-action="Search">Wyszukaj</button>
</form>
<br />

@{ 
    var Query = ViewBag.query;
}
@await Component.InvokeAsync("WyszukiwarkaProduktow", new { serial = Convert.ToInt32(Query) })


