@model WarehouseWebApp.Models.Lista

@{
    ViewData["Title"] = "CreateList";
}

<h2>CreateList</h2>

<h4>Lista</h4>
<hr />
@{
    var IdZamowienia = ViewBag.idZamowienia;
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateList">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LiczbaSztuk" class="control-label"></label>
                <input asp-for="LiczbaSztuk" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="ZamowienieId" class="form-control" value="@IdZamowienia" type="hidden" />
                <span asp-validation-for="ZamowienieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="@{new SelectList(ViewBag.ProductId, "Id", "Name")}"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SzczegolyZamowienia" asp-route-id="@ViewBag.idZamowienia">Przejdź do podsumowania zamówienia</a>
</div>

