@model WarehouseWebApp.Models.Klient

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Klient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazwaKrotka" class="control-label"></label>
                <input asp-for="NazwaKrotka" class="form-control" />
                <span asp-validation-for="NazwaKrotka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazwaDluga" class="control-label"></label>
                <input asp-for="NazwaDluga" class="form-control" />
                <span asp-validation-for="NazwaDluga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ulica" class="control-label"></label>
                <input asp-for="Ulica" class="form-control" />
                <span asp-validation-for="Ulica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numer" class="control-label"></label>
                <input asp-for="Numer" class="form-control" />
                <span asp-validation-for="Numer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KodPocztowy" class="control-label"></label>
                <input asp-for="KodPocztowy" class="form-control" />
                <span asp-validation-for="KodPocztowy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Miasto" class="control-label"></label>
                <input asp-for="Miasto" class="form-control" />
                <span asp-validation-for="Miasto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIP" class="control-label"></label>
                <input asp-for="NIP" class="form-control" />
                <span asp-validation-for="NIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emial" class="control-label"></label>
                <input asp-for="Emial" class="form-control" />
                <span asp-validation-for="Emial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

